<div class="contents">
    <div class="main-contents">
     <div class="article">
         <div class="article-text">
             <p>こんにちは</p>
             <ul>
               <li><a href="#">SHOW</a></li>
               <li><a href="#">EDIT</a></li>
               <li><a href="#">DESTROY</a></li>
             </ul>
         </div>
     </div>
    </div>
</div>
<div class="contents">
    <div class="main-contents">
     <div class="article">
         <div class="article-text">
             <p>Hello This World</p>
             <p>I'm so glad to be here using with rails on ruby </p>
             <ul>
               <li><a href="#">SHOW</a></li>
               <li><a href="#">EDIT</a></li>
               <li><a href="#">DESTROY</a></li>
             </ul>
         </div>
     </div>
    </div>
</div>