<div class="contents">
    <% @tweets.each do |tweet| %>
    <div class="main-contents">
     <div class="article">
         <div class="article-text">
             <p><%= tweet.nickname %></p>
             <p><%= tweet.review %></p>
             <ul>
               <li><a href="#">SHOW</a></li>
               <li><a href="#">EDIT</a></li>
               <li><a href="#">DESTROY</a></li>
             </ul>
         </div>
     </div>
    </div>
    <% end %>
</div>