.header {
  height: 80px;
  background-color: #008080;
  letter-spacing:1px;
}
.user__info a{
  text-decoration:none;
  color: #f2f4f8;
}
.user__info li{
  list-style:none;
  line-height:70px;
  font-size:18px;
  margin:0px 20px;
}
.user__info .logo{
  font-size:25px;
  font-weight: 600;
}

.main-contents{
  width: 70%;
  margin: 100px 200px;
}
.article{
  width:800px;
  background-color:#fff;
  margin: 10px 10px;
  padding: 10px;
  border: medium solid #f5f5f5;
  border-radius: 5px;
  box-shadow:2px 2px #dcdcdc;
}
.article-text ul{
  display: flex
}
.article-text a{
  color:#f2f4f8;
}
.article-text li{
  list-style:none;
  background-color:#008080;
  font-size:20px;
  margin:10px;
}